<div class="d-flex flex-column flex-shrink-0 p-3 pt-5 bg-light sidebar" [class.show]="isSidebarVisible">
    <div class="nav flex-column">
      <a routerLink="/route1" routerLinkActive="active-link" class="nav-link text-black"><fa-icon [icon]="faGauge"></fa-icon>
        DashboARD</a>
      <a routerLink="/route2" routerLinkActive="active-link" class="nav-link"><fa-icon [icon]="faHourglassHalf"> </fa-icon> Add Hours</a>
      <a routerLink="/route3" routerLinkActive="active-link" class="nav-link"><fa-icon [icon]="faPortrait"> </fa-icon> Profile</a>
      <a routerLink="/route4" routerLinkActive="active-link" class="nav-link"><fa-icon [icon]="faUserGroup"> </fa-icon> Team</a>
      <a routerLink="/route5" routerLinkActive="active-link" class="nav-link"><fa-icon [icon]="faFile"> </fa-icon> Projects</a>
      <a routerLink="/route6" routerLinkActive="active-link" class="nav-link"><fa-icon [icon]="faFileSignature"> </fa-icon> Report</a>
      <a routerLink="/route7" routerLinkActive="active-link" class="nav-link"><fa-icon [icon]="faCalendar"> </fa-icon> Leave Request</a>
      <a routerLink="/route8" routerLinkActive="active-link" class="nav-link"><fa-icon [icon]="faBell"> </fa-icon> Notification</a>
    </div>
    <div class="mt-auto">
      <a routerLink="/settings" class="nav-link"><i class="fa-solid fa-gear"></i><fa-icon [icon]="faGear"> </fa-icon> Settings</a>
    </div>
  </div>
  