<div class="w-20 m-2">
  <p class="p-1 text-white rounded" style="background-color: #41698c">
    Off Today
  </p>

  <div class="align-middle text-center container">
    <p>Today 4, April 2024</p>

    <swiper-container
      slides-per-view="5"
      speed="100"
      loop="true"
      css-mode="true"
      id="swiper"
    >
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 4</swiper-slide>
      <swiper-slide>Slide 5</swiper-slide>
    </swiper-container>
  </div>
</div>
